<!Doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>LinguaStories - Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/odometer.min.css">
    <link rel="stylesheet" href="assets/css/jquery.modal.min.css">
    <link rel="stylesheet" href="assets/css/meanmenu.css">
    <link rel="stylesheet" href="assets/css/swipper.css">
    <link rel="stylesheet" href="assets/css/main.css">

    <style>
        header {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .header-logo img { width: 30px; }
        .header-title {
            font-size: 2rem;
            font-weight: bold;
            margin-left: 5px;
        }

        .text {
            font-size: 20px;
            cursor: pointer;
        }
        .text-bold { font-weight: 900; }

        .text-highlight:hover {
            background-color: rgb(218, 218, 143);
        }
    </style>
</head>

<body>

    <div class="page-wrapper home-1" data-background="assets/img/bg/page-bg-1.jpg">

        <!-- PRELOADER -->
        <div id="preloader">
            <div class="loader_line"></div>
        </div>
        <!-- /PRELOADER -->

        <!-- header-start -->
        <div class="bostami-header-area mb-30 z-index-5">
            <div class="container">
                <div class="bostami-header-wrap">
                    <div class="row align-items-center">

                        <!-- logo -->
                        <div class="col-6">
                            <header class="section-header">
                                <div class="header-logo">
                                    <img src="assets/img/logo.svg" />
                                </div>
                                <div class="header-title">
                                    <span style="color:#9575DE">Lingua</span>
                                    <span style="color:#E966A0">Stories</span>
                                </div>
                                <!-- <a class="site-logo" href="../index.html">
                                    <img src="assets/img/logo/logo-2.png" alt="">
                                </a> -->
                            </header>
                        </div>

                        <!-- menu btn -->
                        <div class="col-6">
                            <div class="bostami-header-menu-btn text-right">
                                <div class="dark-btn dark-btn-stored dark-btn-icon">
                                    <i class="fa-light fa-moon"></i>
                                    <i class="fa-light fa-sun"></i>
                                </div>
                                <div class="menu-btn toggle_menu">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- mobile menu -->
                <div class="mobile-menu-wrap">
                    <div class="mobile-menu mobile_menu">
                    </div>
                </div>

            </div>
        </div>
        <!-- header-end -->

        <div class="container z-index-3">
            <div class="row">

                <!-- parsonal-info-start -->
                <div class="col-xxl-3 col-xl-3">
                    <div class="bostami-parsonal-info-area">
                        <div class="bostami-parsonal-info-wrap">

                            <!-- img -->
                            <div class="bostami-parsonal-info-img">
                                <img src="assets/img/xiaoli.jpg" alt="avatar">
                            </div>

                            <!-- name -->
                            <h4 class="bostami-parsonal-info-name">
                                <a href="#">Xiao Li Goes to the Airport</a>
                            </h4>
                            <span class="bostami-parsonal-info-bio mb-15">airport</span>

                            <!-- socail link -->
                            <ul class="bostami-parsonal-info-social-link mb-30">
                                <li>
                                    <a href="#" class="facebook">
                                        <i class="fa-regular fa-bookmark"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <i class="fa-regular fa-heart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="instagram">
                                        <i class="fa-solid fa-headphones-simple"></i>
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="#" class="linkedin">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </a>
                                </li> -->
                            </ul>

                            <!-- contact -->
                            <div class="bostami-parsonal-info-contact mb-30">
                                <div class="bostami-parsonal-info-contact-item location">
                                    <div class="icon">
                                        <i class="fa-solid fa-text"></i>
                                    </div>
                                    <div class="text">
                                        <p>Show PINYIN</p>
                                    </div>
                                </div>

                                <div class="bostami-parsonal-info-contact-item calendar">
                                    <div class="icon">
                                        <i class="fa-solid fa-repeat"></i>
                                    </div>
                                    <div class="text">
                                        <p>Switch to Simplified</p>
                                    </div>
                                </div>

                                <div class="bostami-parsonal-info-contact-item email">
                                    <div class="icon">
                                        <i class="fa-solid fa-file-export"></i>
                                    </div>
                                    <div class="text">
                                        <p>Export to Flash Cards</p>
                                    </div>
                                </div>

                                <div class="bostami-parsonal-info-contact-item phone">
                                    <div class="icon">
                                        <i class="fa-regular fa-game-board"></i>
                                    </div>
                                    <div class="text">
                                        <!-- <span>Phone</span> -->
                                        <p>Game mode</p>
                                    </div>
                                </div>
                            </div>

                            <!-- cv button -->
                            <div class="bostami-parsonal-info-btn">
                                <a class="btn-1" href="#">
                                    <span class="icon">
                                        <i class="fa-regular fa-download"></i>
                                    </span>
                                    download pdf
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- personal-info-end -->

                <!-- about-page-start -->
                <div class="col-xxl-8 col-xl-9">
                    <div class="bostami-page-content-wrap">

                        <!-- page title -->
                        <div class="section-wrapper pl-60 pr-60 pt-60">
                            <div id="storyContainer" class="bostami-page-title-wrap mb-35">
                                <h2 class="page-title">小麗搭飛機</h2>
                                <!-- <p class="text"><span class="text-bold">電視:</span> 今天的天氣是34度。</p>

                                <p class="text"><span class="text-bold">小麗:</span> ”呃～好吵！”小麗剛被電視吵醒了。</p>
                                    
                                <p class="text"><span class="text-bold">媽:</span> 小麗！小麗！快點起床！你快要來不及上飛機了。</p>
                                    
                                <p class="text"><span class="text-bold">小麗刷著牙對媽媽喊:</span> 「媽！電視幹嘛這麼大聲啊！」</p>
                                    
                                <p class="text"><span class="text-bold">媽:</span> 快點快點小丫頭！</p>
                                    
                                <p class="text"><span class="text-bold">小麗:</span> 好了好了。</p>
                                    
                                <p class="text"><span class="text-bold">小麗:</span> 慘了！媽，我的手機呢？</p>
                                    
                                <p class="text"><span class="text-bold">媽:</span> 我怎麼知道你的手機放在哪？</p>
                                    
                                <p class="text">你看房間這麼亂，難怪找不到東西。</p>
                                    
                                <p class="text">計程車來了，快點！</p>
                                    
                                <p class="text"><span class="text-bold">小麗:</span> 找到了！好，到紐約會聯絡你。</p>
                                    
                                <p class="text"><span class="text-bold">媽:</span> 寶貝，注意安全喔～</p> -->
                                    
                            </div>
                        </div>

                        <!-- what-do -->
                        <div class="section-wrapper pl-60 pr-60">

                            <!-- <div class="bostami-section-title-wrap mb-30">
                                <h3 class="section-title">Dive Deeper!</h3>
                            </div> -->

                            <div class="bostami-what-do-wrap mb-30">
                                <div class="row">

                                    <!-- single item -->
                                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                                        <div class="bostami-what-do-item bg-prink">
                                            <div class="icon">
                                                <i class="fa-regular fa-list"></i>
                                            </div>
                                            <div class="text">
                                                <h4 class="title">Vocabulary List</h4>
                                                <p>View the vocab used in this story</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single item -->
                                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                                        <div class="bostami-what-do-item bg-catkrill">
                                            <div class="icon">
                                                <i class="fa-light fa-book"></i>
                                            </div>
                                            <div class="text">
                                                <h4 class="title">Grammar Patterns</h4>
                                                <p>Learn all the grammar patterns used in this story</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single item -->
                                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                                        <div class="bostami-what-do-item  bg-catkrill">
                                            <div class="icon">
                                                <i class="fa-thin fa-clipboard-question"></i>
                                            </div>
                                            <div class="text">
                                                <h4 class="title">Quiz</h4>
                                                <p>Test your understand of the story by taking a quiz</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single item -->
                                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                                        <div class="bostami-what-do-item bg-prink bg-blue">
                                            <div class="icon">
                                                <i class="fa-duotone fa-books"></i>
                                            </div>
                                            <div class="text">
                                                <h4 class="title">Related Stories</h4>
                                                <p>Read and listen to other similar stories to this one</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>


                        <!-- footer copyright -->
                        <div class="footer-copyright text-center pt-25 pb-25">
                            <span>© 2023 All Rights Reserved by Lingua Stories.</span>
                        </div>

                    </div>
                </div>
                <!-- about-page-end -->

                <!-- main-menu-start -->
                <div class="col-xxl-1 d-xxl-block d-none">
                    <div class="bostami-main-menu-wrap">
                        <nav class="bastami-main-menu main_menu">
                            <ul>
                                <li class="active">
                                    <a href="index.html">
                                        <span>
                                            <i class="fa-solid fa-input-text"></i>
                                        </span>
                                        Beginner
                                    </a>
                                </li>
                                <li>
                                    <a href="resume.html">
                                        <span>
                                            <i class="fa-solid fa-spell-check"></i>
                                        </span>
                                        Intermediate
                                    </a>
                                </li>
                                <li>
                                    <a href="portfolio.html">
                                        <span>
                                            <i class="fa-light fa-glasses"></i>
                                        </span>
                                        Advance
                                    </a>
                                </li>
                                <li>
                                    <a href="blog.html">
                                        <span>
                                            <i class="fa-regular fa-face-sunglasses"></i>
                                        </span>
                                        Native
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="contact.html">
                                        <span>
                                            <i class="fa-light fa-address-book"></i>
                                        </span>
                                        contact
                                    </a>
                                </li> -->
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- main-menu-end -->
            </div>
        </div>

    </div>

    <!-- JS here -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/swipper-bundle.min.js"></script>
    <script src="assets/js/jquery.meanmenu.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/odometer.min.js"></script>
    <script src="assets/js/jquery.modal.min.js"></script>
    <script src="assets/js/appear.min.js"></script>
    <script src="assets/js/main.js"></script>

    <script src="assets/js/app.js"></script>
</body>

</html>