<!Doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>LinguaStories - Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/linguastories.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/assets/templates/bostami-template/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/templates/bostami-template/css/animate.min.css">
    <link rel="stylesheet" href="/assets/templates/bostami-template/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/templates/bostami-template/css/all.min.css">
    <link rel="stylesheet" href="/assets/templates/bostami-template/css/odometer.min.css">
    <link rel="stylesheet" href="/assets/templates/bostami-template/css/jquery.modal.min.css">
    <link rel="stylesheet" href="/assets/templates/bostami-template/css/meanmenu.css">
    <link rel="stylesheet" href="/assets/templates/bostami-template/css/swipper.css">
    <link rel="stylesheet" href="/assets/templates/bostami-template/css/main.css">

    <style>
        header {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .header-logo img { height: 50px; }
        .header-title {
            /* font-size: 2rem; */
            font-weight: bold;
            margin-left: 5px;
        }

        .text {
            font-size: 20px;
            cursor: pointer;
        }
        .text-bold { font-weight: 900; }

        .text-highlight:hover {
            background-color: rgb(247, 247, 0);
            padding: 3px 3px 1px 1px;
        }

        .bx-outline:hover {
            background-color: #FFF;
            border: 1px solid blue;
            border-radius: 10px;
        }

        .sentence-line {
            display: flex;
            flex-direction: row;
            gap: 20px 20px;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }

        .sentence-word {
            display: flex;
            flex-direction: column;
        }

        .word-margin-right {
            margin-right: 15px;
        }

        .sentence-word-center {
            text-align: center;
        }

        .sentence ruby {
            line-height: 1em;
            text-align: center;
            text-indent: 0;
        }
        ruby {
            ruby-align: center;
        }

        

        .sentence {
            font-size: 25px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>

    <div class="page-wrapper home-1" data-background="/assets/templates/bostami-template/img/bg/page-bg-1.jpg">

        <!-- PRELOADER -->
        <div id="preloader">
            <div class="loader_line"></div>
        </div>
        <!-- /PRELOADER -->

        <!-- header-start -->
        <div class="bostami-header-area mb-30 z-index-5">
            <div class="container">
                <div class="bostami-header-wrap">
                    <div class="row align-items-center">

                        <!-- logo -->
                        <div class="col-6">
                            <header class="section-header">
                                <div class="header-logo">
                                    <img src="/assets/templates/bostami-template/img/logo-header.png" />
                                </div>
                            </header>
                        </div>

                        <!-- menu btn -->
                        <div class="col-6">
                            <div class="bostami-header-menu-btn text-right">
                                <div class="dark-btn dark-btn-stored dark-btn-icon">
                                    <i class="fa-light fa-moon"></i>
                                    <i class="fa-light fa-sun"></i>
                                </div>
                                <div class="menu-btn toggle_menu">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- mobile menu -->
                <div class="mobile-menu-wrap">
                    <div class="mobile-menu mobile_menu">
                    </div>
                </div>

            </div>
        </div>
        <!-- header-end -->

        <div class="container z-index-3">
            <div class="row">

                <!-- parsonal-info-start -->
                <div class="col-xxl-3 col-xl-3">
                    <div class="bostami-parsonal-info-area">
                        <div class="bostami-parsonal-info-wrap">

                            <!-- img -->
                            <div class="bostami-parsonal-info-img">
                                <img src="/assets/templates/bostami-template/img/xiaoli.jpg" alt="avatar">
                            </div>

                            <!-- name -->
                            <h4 class="bostami-parsonal-info-name">
                                <a href="#" id="story-title"></a>
                            </h4>
                            <span class="bostami-parsonal-info-bio mb-15" id="story-tags">airport</span>

                            <!-- socail link -->
                            <ul class="bostami-parsonal-info-social-link mb-30">
                                <li>
                                    <a href="#" class="facebook">
                                        <i class="fa-regular fa-bookmark"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <i class="fa-regular fa-heart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="instagram">
                                        <i class="fa-solid fa-headphones-simple"></i>
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="#" class="linkedin">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </a>
                                </li> -->
                            </ul>

                            <!-- contact -->
                            <div class="bostami-parsonal-info-contact mb-30">
                                <div class="bostami-parsonal-info-contact-item location">
                                    <div class="icon">
                                        <i class="fa-duotone fa-text-size"></i>
                                    </div>
                                    <div class="text">
                                        <p id="page_story_show_transliteration">Show PINYIN</p>
                                    </div>
                                </div>

                                <div class="bostami-parsonal-info-contact-item location">
                                    <div class="icon">
                                        <i class="fa-solid fa-text"></i>
                                    </div>
                                    <div class="text">
                                        <p id="page_story_show_english">Show English</p>
                                    </div>
                                </div>

                                <div class="bostami-parsonal-info-contact-item calendar">
                                    <div class="icon">
                                        <i class="fa-solid fa-repeat"></i>
                                    </div>
                                    <div class="text">
                                        <p>Switch to Simplified</p>
                                    </div>
                                </div>

                                <div class="bostami-parsonal-info-contact-item location">
                                    <div class="icon">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="text">
                                        <p>Change Region</p>
                                        <span>Taiwan</span>
                                    </div>
                                </div>

                                <div class="bostami-parsonal-info-contact-item email">
                                    <div class="icon">
                                        <i class="fa-solid fa-file-export"></i>
                                    </div>
                                    <div class="text">
                                        <p>Export to Flash Cards</p>
                                    </div>
                                </div>

                                <div class="bostami-parsonal-info-contact-item phone">
                                    <div class="icon">
                                        <i class="fa-regular fa-game-board"></i>
                                    </div>
                                    <div class="text">
                                        <!-- <span>Phone</span> -->
                                        <p>Game mode</p>
                                    </div>
                                </div>
                            </div>

                            <!-- cv button -->
                            <div class="bostami-parsonal-info-btn">
                                <a class="btn-1" href="#" style="text-transform: none">
                                    <span class="icon">
                                        <i class="fa-regular fa-download"></i>
                                    </span>
                                    Download PDF
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- personal-info-end -->

                <!-- about-page-start -->
                <div class="col-xxl-8 col-xl-9">
                    <div class="bostami-page-content-wrap">

                        <!-- page title -->
                        <div class="section-wrapper pl-60 pr-60 pt-60">
                            <div class="bostami-page-title-wrap mb-35">
                                <h2 class="page-title" id="page-story-title"></h2>
                                <div id="page-story-container"></div>
                            </div>
                        </div>

                        <!-- what-do -->
                        <div class="section-wrapper pl-60 pr-60">
                            <div class="bostami-what-do-wrap mb-30">
                                <div class="row">

                                    <!-- single item -->
                                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                                        <div class="bostami-what-do-item bg-prink bx-outline">
                                            <div class="icon">
                                                <i class="fa-regular fa-list"></i>
                                            </div>
                                            <div class="text">
                                                <h4 class="title">Vocabulary List</h4>
                                                <p>View the vocab used in this story</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single item -->
                                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                                        <div class="bostami-what-do-item bg-catkrill bx-outline">
                                            <div class="icon">
                                                <i class="fa-light fa-book"></i>
                                            </div>
                                            <div class="text">
                                                <h4 class="title">Grammar Patterns</h4>
                                                <p>Learn all the grammar patterns used in this story</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single item -->
                                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                                        <div class="bostami-what-do-item bg-catkrill bx-outline">
                                            <div class="icon">
                                                <i class="fa-thin fa-clipboard-question"></i>
                                            </div>
                                            <div class="text">
                                                <h4 class="title">Quiz</h4>
                                                <p>Test your understand of the story by taking a quiz</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single item -->
                                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                                        <div class="bostami-what-do-item bg-prink bg-blue bx-outline">
                                            <div class="icon">
                                                <i class="fa-duotone fa-books"></i>
                                            </div>
                                            <div class="text">
                                                <h4 class="title">Related Stories</h4>
                                                <p>Read and listen to other similar stories to this one</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>


                        <!-- footer copyright -->
                        <div class="footer-copyright text-center pt-25 pb-25">
                            <span>© 2024 All Rights Reserved by Lingua Stories.</span>
                        </div>

                    </div>
                </div>
                <!-- about-page-end -->

                <!-- main-menu-start -->
                <div class="col-xxl-1 d-xxl-block d-none">
                    <div class="bostami-main-menu-wrap">
                        <nav class="bastami-main-menu main_menu">
                            <ul>
                                <li class="active">
                                    <a href="index.html">
                                        <span>
                                            <i class="fa-solid fa-input-text"></i>
                                        </span>
                                        Beginner
                                    </a>
                                </li>
                                <li>
                                    <a href="resume.html">
                                        <span>
                                            <i class="fa-solid fa-spell-check"></i>
                                        </span>
                                        Intermediate
                                    </a>
                                </li>
                                <li>
                                    <a href="portfolio.html">
                                        <span>
                                            <i class="fa-light fa-glasses"></i>
                                        </span>
                                        Advance
                                    </a>
                                </li>
                                <li>
                                    <a href="blog.html">
                                        <span>
                                            <i class="fa-regular fa-face-sunglasses"></i>
                                        </span>
                                        Native
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="contact.html">
                                        <span>
                                            <i class="fa-light fa-address-book"></i>
                                        </span>
                                        contact
                                    </a>
                                </li> -->
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- main-menu-end -->
            </div>
        </div>

    </div>

    <!-- JS here -->
    <script src="/assets/templates/bostami-template/js/jquery.min.js"></script>
    <script src="/assets/templates/bostami-template/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/templates/bostami-template/js/swipper-bundle.min.js"></script>
    <script src="/assets/templates/bostami-template/js/jquery.meanmenu.min.js"></script>
    <script src="/assets/templates/bostami-template/js/wow.min.js"></script>
    <script src="/assets/templates/bostami-template/js/odometer.min.js"></script>
    <script src="/assets/templates/bostami-template/js/jquery.modal.min.js"></script>
    <script src="/assets/templates/bostami-template/js/appear.min.js"></script>
    <script src="/assets/templates/bostami-template/js/main.js"></script>

    <script src="/assets/templates/bostami-template/js/app.js"></script>


    <script>
        const storyTitle = document.querySelector("#story-title");
        const storyTags = document.querySelector("#story-tags");
        const pageStoryTitle = document.querySelector("#page-story-title");
        const pageStoryContainer = document.querySelector("#page-story-container");
        const pageStoryShowTransliteration = document.querySelector("#page_story_show_transliteration");
        const pageStoryShowEnglish = document.querySelector("#page_story_show_english");

        let showTransliteration = false;
        let showTranslation = false;

        let story = [];
        let words = [];

        pageStoryShowTransliteration.addEventListener("click", evt => {
            pageStoryShowTransliteration.innerText = (!showTransliteration ? "Hide ": "Show ") + " PINYIN";
            showTransliteration = !showTransliteration;
            loadStory();
        });

        pageStoryShowEnglish.addEventListener("click", evt => {
            pageStoryShowEnglish.innerText = (!showTranslation ? "Hide ": "Show ") + " English";
            showTranslation = !showTranslation;
            loadStory();
        });

        async function getStory() {
            const storyId = location.href.split("/").at(-1);

            const storyResp = await fetch(`/api/story/${storyId}`);
            const wordsResp = await fetch(`/api/story/${storyId}/words`);

            story = await storyResp.json();
            words = await wordsResp.json();
        }

        function loadStory() {
            pageStoryContainer.innerHTML = "";

            storyTitle.innerHTML = story.at(0).name;
            //storyTags.innerHTML = "";
            pageStoryTitle.innerHTML = story.at(0).tl_name;

            let pageId = -1;
            let idx = -1;
            let sc = "";
            
            let sentences = [];
            // separate words into sentences
            words.forEach(w => {
                if (pageId != w.story_content_id) {
                    idx++;
                    pageId = w.story_content_id;
                    sentences.push([]);
                }
                sentences.at(idx).push(w);
            });

            sentences.forEach(words => {
                sc += `<div class="text sentence sentence-line">`;
                sc += words.map((w, idx) => {
                    let {
                        id,
                        story_content_id,
                        word,
                        tl_word,
                        tl_transliteration_word,
                        word_type
                    } = w;
                    
                    if (word_type == "punc") return "";
                    //if (tl_word === "-") tl_word = "";

                    let mr = "";
                    let extraWordTL = "", extraWord = "", extraTTW = "";
                    if (words[idx + 1] && words[idx + 1].word_type == "punc" ) {
                        mr = "word-margin-right";
                        extraWord = words[idx + 1].word;
                        extraWordTL = words[idx + 1].tl_word;
                        extraWordTTW = words[idx + 1].tl_transliteration_word;
                    }
                    let h = `<div class="sentence-word ${mr}">`;
                    h += `<div style="text-align:center">`;
                    h += `<ruby>`;
                    h += `<rb class="text-highlight" data-value="${id}">${word}</rb><span>${extraWord}</span>`;
                    
                    if (showTransliteration) {
                        h += `<rt style="font-size:14px">${tl_transliteration_word}${extraTTW}</rt>`;
                    }
                    h += "</ruby>";
                    h += "</div>";
                    
                    if (showTranslation) {
                        h += `<div>${tl_word}${extraWordTL}</div>`;
                    }
                    h += "</div>";
                    return h;
                }).join("");
                sc += "</div>";
            });
            pageStoryContainer.innerHTML += sc;
        }

        (async () => {
            await getStory();
            loadStory();
        })();
    </script>
</body>

</html>