* {
    font-family: 'Rubik', sans-serif;
    --purple: #6064e3;
}

/* * {
    font-family: 'Roboto', sans-serif;
} */

:root {
    font-size: 10px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo img {
    width: 30px;
}

.header-title {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5px;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-item {
    font-size: 1.7rem;
    padding: 2rem;
}

.button {
    background-color: transparent;
    color: #fff;
    font-size: 1.7rem;
    line-height: 1;
    font-weight: 500;
    padding: 10px 30px;
    border: 1px solid transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.button-primary {
    background-color: var(--purple);
}
/********************* sections height *********************
************************************************************
************************************************************/
.section-header { height: 100px; }
.section-intro { height: 500px; }

/************************************************************
************************************************************
********************* end sections height ********************/

/********************** margin bottom ***********************
************************************************************
************************************************************/
.mb-1 { margin-bottom: 5px; }
.mb-2 { margin-bottom: 10px; }
.mb-3 { margin-bottom: 15px; }
.mb-4 { margin-bottom: 20px; }
.mb-5 { margin-bottom: 25px; }
.mb-6 { margin-bottom: 30px; }
.mb-7 { margin-bottom: 35px; }
.mb-8 { margin-bottom: 40px; }
.mb-9 { margin-bottom: 45px; }

/************************************************************
************************************************************
********************* end margin bottom ********************/

.text-appearance {
    font-size: 3.75rem;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 1.8px;
    color: #2B2730;
}

.section-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-intro-caption {
}

.section-intro-description {
    color: #6554AF;
    font-size: 2rem;
    letter-spacing: 1.5px;
}

.section-intro-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-intro-img img {
    height: 350px;
}

.subscribe-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subscribe-input-container {
    display: flex;
    align-items: center;
    border: 1px solid #cecece;
    border-radius: 5px;
    width: 70%;
    margin-right: 10px;
    padding: 10px;
}

.subscribe-input-container:focus {
    border: 1px solid #6554AF;
}

.subscribe-input {
    border: 0;
    width: 90%;
    font-size: 1.8rem;
    letter-spacing: 2;
}

.subscribe-input:focus {
    outline: none;
}

.subscribe-button {
    padding:1em;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: #9575DE;
    border: 1px solid #9575DE;
}

.ratings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rating {
    padding-top: 5px;
    margin-right: 10px;
}

.rating svg {
    color: #facc15;
    font-size: 1.7em;
}
/* 
.ratings-type::after {
    content: "|";
    font-size: 2rem;
    color: #2B2730;
} */

.ratings-type {
    font-size: 1.5rem;
    margin-right: 10px;
    opacity: .6;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ratings-type-divider {
    border-left: 1.5px solid #aeadad;
}

.background-box-container {
    position: relative;
}

.background-box-svg {
    position: absolute;
    top: 0;
    z-index: -1;
    color: #cecece;
}

.background-box {
    position: absolute;
    top: 150px;
    left: 50px;
    background-color: #9575DE;
    height: 300px;
    width: 600px;
    border-radius: 10px;
    z-index: -2;
}

.img-phone {
    width: 600px;
    
}

.img-phone img {
    width: 600px;
}

.container-total-languages {
    background-color: #fbfbfd;
    padding: 2em;
}

.total-languages {
    text-align: center;
    font-size: 3rem;
}

.total-languages-subtext {
    font-size: 2rem;
    text-align: center;
}

.language-list {
    list-style: none;
}

.language-list-sub {
    list-style: none;
}

.language-sublist {

}

.list-of-languages {
    display: flex;

}

.list-of-languages ul li {
    font-size: 1.7rem;
    letter-spacing: 1.5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .background-box {
        width: 300px;
    }

    .img-phone img {
        width: 500px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 992px) {
    .background-box {
        width: 350px;
    }

    .img-phone img {
        width: 550px;
    }

    .subscribe-button {
        padding:.33em;
    }
}

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {}
*/