* {
    font-family: 'Rubik', sans-serif;
    --purple: #6064e3;

    --text-color: #2B2730;

    --beige: #fad2b1;
    --pinky: #ff9b76;
    --orangey: #e07258;
    --burgundy-light:#772233;
    --burgundy: #4e0822;
}

/* * {
    font-family: 'Roboto', sans-serif;
} */

:root {
    font-size: 10px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo img {
    width: 30px;
}

.header-title {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 5px;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-item {
    font-size: 1.7rem;
    padding: 2rem;
    color: var(--text-color);
}

.menu-item a:link, .menu-item:visited {
    color: var(--text-color);
    text-decoration: none;
}
.menu-item:hover, .menu-item a:hover {
    background-color: var(--orangey);
    color: #FFF;
    cursor: pointer;
}

.text-appearance {
    font-size: 3.75rem;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 1.8px;
    color: var(--text-color);
}

.button {
    background-color: transparent;
    color: #fff;
    font-size: 1.7rem;
    line-height: 1;
    font-weight: 500;
    padding: 10px 30px;
    border: 1px solid transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.button-primary {
    background-color: var(--orangey);
}

.button-primary:hover {
    background-color: var(--burgundy-light);
    color: #FFF;
    border: 1px solid var(--burgundy-light);
}
/********************* sections height *********************
************************************************************
************************************************************/
.section-header { height: 100px; }
.section-intro { height: 400px; }

/************************************************************
************************************************************
********************* end sections height ********************/

/********************** margin bottom ***********************
************************************************************
************************************************************/
.mb-1 { margin-bottom: 5px; }
.mb-2 { margin-bottom: 10px; }
.mb-3 { margin-bottom: 15px; }
.mb-4 { margin-bottom: 20px; }
.mb-5 { margin-bottom: 25px; }
.mb-6 { margin-bottom: 30px; }
.mb-7 { margin-bottom: 35px; }
.mb-8 { margin-bottom: 40px; }
.mb-9 { margin-bottom: 45px; }

/************************************************************
************************************************************
********************* end margin bottom ********************/

/********************** color ***********************
************************************************************
************************************************************/
.primary { color: var(--burgundy); }
.secondary { color: var(--burgundy-light); }
.tenary { color: var(--orangey); }
.fourth { color: var(--pinky); }

/************************************************************
************************************************************
********************* end color ********************/



.text-appearance-normal {
    font-size: 1.8rem;
    line-height: 1;
    letter-spacing: 1.8px;
    color: #FFF;
}

.section-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-intro-caption {
    font-size: 3.75rem;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 1.8px;
    color: #2B2730;
}

.section-intro-description {
    color: var(--burgundy-light);
    font-size: 2rem;
    letter-spacing: 1.5px;
}

.section-intro-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-intro-img img {
    height: 350px;
}

.subscribe-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subscribe-input-container {
    display: flex;
    align-items: center;
    border: 1px solid #cecece;
    border-radius: 5px;
    width: 70%;
    margin-right: 10px;
    padding: 9px;
}

.subscribe-input-container:focus {
    border: 1px solid #6554AF;
}

.subscribe-input {
    border: 0;
    width: 90%;
    font-size: 1.8rem;
    letter-spacing: 2;
}

.subscribe-input:focus {
    outline: none;
}

.subscribe-button {
    padding:1em;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: var(--burgundy-light);
    color: #FFF;
    border: 1px solid var(--burgundy-light);
}

.ratings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rating {
    padding-top: 5px;
    margin-right: 10px;
}

.rating svg {
    color: #facc15;
    font-size: 1.7em;
}
/* 
.ratings-type::after {
    content: "|";
    font-size: 2rem;
    color: #2B2730;
} */

.ratings-type {
    font-size: 1.5rem;
    margin-right: 10px;
    opacity: .6;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ratings-type-divider {
    border-left: 1.5px solid #aeadad;
}

.background-box-container {
    position: relative;
}

.background-box-svg {
    position: absolute;
    top: 0;
    left: 150px;
    z-index: -1;
    color: #cecece;
}

.background-box {
    position: absolute;
    top: 150px;
    left: 150px;
    background-color: var(--pinky);
    height: 300px;
    width: 500px;
    border-radius: 10px;
    z-index: -2;
}

.img-phone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-phone img {
    width: 600px;
}

.container-total-languages {
    /* background-image: url("/assets/img/bg-04.jpg"); */
    background-color: var(--purple);
    padding: 50px 10px;
}

.total-languages-container {
    padding: 3em;
    background-color: #fad2b1; 
    /*var(--pinky);*/
}

.total-languages {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: -0.75px;
    color: var(--text-color);
    text-align: center;
}

.total-languages-subtext {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: -0.75px;
    color: var(--text-color);
}

.language-list {
    list-style: none;
}

.language-list-parent {
    font-weight: bold;
}

.language-list-sub {
    list-style: none;
}

.language-sublist li {
    margin-left: 10px;
}

.list-of-languages {
    display: flex;
    justify-content: center;

}

.list-of-languages ul li {
    font-size: 1.7rem;
    letter-spacing: 1.5px;
}

.language-dialects {
    font-size: 2rem;
}

.language-dialects-options {
    font-size: 1.8rem;
    margin: 20px;
}

.language-level-list {
    font-size: 2.5rem;
}

.language-level-list ul {
    font-size: 2rem;
}

.language-level-list ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.topics-container {
    height: 300px;
}

.stats {
    font-size: 3rem;
    background-color: #f6f6f6;
}

.stat-group {
    border-left: 1px solid #c5c5c5;
    padding: 3rem;
}

.stat {
    text-align: center;
    font-weight: 900;
}

.stories-level-container {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.stories-level {
    padding: 1em;
    border-radius: 10px;
}

.stories-level-caption {
    font-size: 3.75rem;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 1.8px;
    color: var(--text-color);
}

.stories-level-benefits {
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 1.8px;
    color: var(--text-color);
}

.stories-level-benefits ul li {
    list-style: circle;
}

.stories-level-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
}

.story-list img {
    height: 30%;
}

.story-list p {
    font-size: 2rem;
}

.topics {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-holder {
    position: relative;
}

.img-card {
    position: absolute;
}

.img-card img {
    height: 300px;
}

.img-card1 {
    top: 0;
    left: 0;
}

.img-card2 {
    top: 150px;
    left: 150px;
}

.img-card3 {
    top: 0;
    right: 0;
}

@keyframes GFG {
    0% {
        transform: rotate(0deg) 
              translateY(100px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) 
              translateY(100px) rotate(-360deg);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .background-box {
        width: 300px;
    }

    .img-phone img {
        width: 500px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 992px) {
    .background-box {
        width: 350px;
    }

    .img-phone img {
        width: 550px;
    }

    .subscribe-button {
        padding:.33em;
    }
}

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {}
*/