.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }
  
  /*
   * Sidebar
   */
  
  @media (min-width: 768px) {
    .sidebar .offcanvas-lg {
      position: -webkit-sticky;
      position: sticky;
      top: 48px;
    }
    .navbar-search {
      display: block;
    }
  }
  
  .sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar-heading {
    font-size: .75rem;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }

  img {
      height: 200px;
  }


.story-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story-info-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.story-info-stats p {
    margin: 0;
}

.story-info-name {
    font-weight: bold;
}

.story-info-levels {
    font-size: 12px;
}

.story-features {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  border: 1px solid darkblue;
  border-radius: 5px;
}

.logo img {
  height: 50px;
}